<div dir="rtl" class="m-5" x-data="{workType: ''}">
    <h4 class="my-4"> افزودن فیلم و سریال جدید </h4>

    <div class="row">
        <div class="col-9">
            <div class="w-50 my-3">
                <button class="btn btn-primary btn-lg" onclick="getWorkData()">ثبت</button>
            </div>

            <div class="w-50 my-3">
                <label for="WorkName">نام اثر</label>
                <input id="WorkName" type="text" class="form-control">
            </div>
            <div class="w-50 my-3">
                <label for="image">لینک تصویر</label>
                <input id="image" type="text" class="form-control">
            </div>

            <div class="w-25">
                <label for="WorkType">نوع اثر</label>
                <select id="WorkType" class="form-select my-2" @change="workType = $el.value">
                    <option value="Movie"> فیلم </option>
                    <option value="Series"> سریال </option>
                </select>
            </div>

            <div x-show="workType === 'Series'">
                <input type="text" class="form-control" placeholder="تعداد فصل ها">
            </div>

            <div class="row">
                <div class=" my-3 col-lg-3">
                    <label for="Actors">بازیگران</label>
                    <input id="Actors" type="text" class="form-control">
                </div>

                <div class=" my-3 col-lg-3">
                    <label for="Director">کارگردان</label>
                    <input id="Director" type="text" class="form-control">
                </div>

                <div class=" my-3 col-lg-3">
                    <label for="Score">امتیاز اثر</label>
                    <input id="Score" type="number" class="form-control">
                </div>

            </div>

            <div class="row">
                <div class="my-3 col-lg-3">
                    <input id="hasDub" name="hasDub" type="checkbox" class="form-check-inline">
                    <label for="hasDub">دارای دوبله ؟</label>
                </div>

                <div class="my-3 col-lg-3">
                    <input id="hasDub" name="hasDub" type="checkbox" class="form-check-inline">
                    <label for="hasDub">دارای زیرنویس ؟</label>
                </div>

                <div class="my-3 col-lg-3">
                    <input id="hasDub" name="hasDub" type="checkbox" class="form-check-inline">
                    <label for="hasDub">دارای زیرنویس چسبیده ؟</label>
                </div>
            </div>

            <div class="row">
                <div class="my-3 col-lg-3">
                    <label for="seasonsCount">تعداد فصل ها</label>
                    <input id="seasonsCount" type="number" class="form-control">
                </div>

                <div class="my-3 col-lg-3">
                    <label for="episodes">تعداد قسمت های هر فصل</label>
                    <input id="episodes" type="number" class="form-control">
                </div>

                <div class="my-3 col-lg-3">
                    <label for="duration">مدت زمان</label>
                    <input id="duration" type="number" class="form-control">
                </div>
            </div>

        </div>
    </div>

    <div x-data="{ qualities: [], qualitiesStatus: [] }">
        <div class="d-flex">
            <select id="qualitySelector" class="form-select w-25">
                <% for (let item of qualities) { %>
                    <option value="<%= item.name %>"><%= item.name %></option>
                <% } %>
            </select>
            <button class="btn btn-info mx-3" @click="qualities.push({id: document.getElementById('qualitySelector').value}); qualitiesStatus.push(false); console.log(qualities)"> افزودن کیفیت </button>
            <button class="btn btn-warning mx-3" @click="if (qualities.length > 0) qualities.pop()"> حذف کیفیت </button>
        </div>

        <div class="my-2">
            <template x-for="(i, index) in qualities">
                <button :quality="i.id" @click="qualitiesStatus.fill(false, 0, qualitiesStatus.length); qualitiesStatus[index] = true" class="btn btn-secondary ms-3 quality" type="button" x-text="' کیفیت ' + (i.id)">  </button>
            </template>
        </div>

        <template x-for="(k, index) in qualities">
            <div :class="'quality-' + k.id" x-data="{ tabsCount: 0, tabsStatus: [] }" x-show="qualitiesStatus[index]">
                <button class="btn btn-primary" type="button" @click="tabsCount++; tabsStatus.push(false); console.log(tabsStatus)"> افزودن فصل </button>
                <button class="btn btn-danger" type="button" @click="if (tabsCount > 0)  tabsCount--; tabsStatus.pop(); console.log(tabsStatus)"> حذف فصل </button>

                <div class="d-flex my-3" style="max-width: 400px; overflow-x: auto">
                    <template x-for="i in tabsCount" x-transition>
                        <button :quality="k.id" :season="i" @click="tabsStatus.fill(false, 0, tabsStatus.length); tabsStatus[i] = true" class="btn btn-secondary ms-3 season" type="button" x-text="'فصل' + (i)">  </button>
                    </template>
                </div>
                <template x-for="i in tabsCount">
                    <div x-show="tabsStatus[i]" x-transition x-data="{ episodes: 0 }">
                        <button class="btn btn-primary" @click="episodes++"> افزودن قسمت </button>
                        <button class="btn btn-danger" @click="if (episodes > 0)  episodes--;"> حذف قسمت </button>
                        <template x-for="j in episodes">
                            <div class="w-50 my-3">
                                <input :quality="k.id" :season="i" :class="'form-control link ' + 'season-' + i + ' quality-' + k.id" type="text" :placeholder="' قسمت ' + j">
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </template>
    </div>





</div>

<script>
    const getWorkData = () => {
        const qualities = [...document.querySelectorAll('.quality')].map( (x) => x.getAttribute('quality'))
        const seasons = [...document.querySelectorAll('.season')].filter( (x) => x.getAttribute('quality') === qualities[0]).map((x) => 'Season ' + x.getAttribute('season'))

        for (let i = 0 ; i < qualities.length; i++) {

        }
    }
</script>