<div class="text-white" style="background-color: #055160; height: 100vh" dir="rtl">
    <div class="px-5">
        <div class="pt-5">
            <a href="/admin/add-work"> افزودن فیلم یا سریال </a>
        </div>
        <div class="pt-5">
            <a> لیست فیلم و سریال ها </a>
        </div>
        <div class="pt-5">
            <a href="/admin/quality-list"> لیست کیفیت ها </a>
        </div>
        <div class="pt-5">
            <a> نظرات </a>
        </div>
        <div class="pt-5">
            <a> کشور ها </a>
        </div>
        <div class="pt-5">
            <a> تگ ها </a>
        </div>
        <div class="pt-5">
            <a> ژانر ها </a>
        </div>
    </div>

</div>
